<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<div class = "container py-3">
    <html>
        <h1>
            Home
        </h1>
        <p>
            Enter an integer to see whether it is even or odd
        </p>
        <p>
            Number
        </p>
        <form action="/Calculate" method="POST">
            <input type = "text" name = "content" id = "content">
            <input type = "submit" target = "_blank" value="Submit">
        </form>
    </html>
</div>
